.footer{
    height: 100%;
    width: 100%;
    position: relative;
    background-image:url('../../assets/Imagen/footer.jpg') ;
    background-size: cover;
   
    filter: opacity(7,4);
}

.footer h2{
    color: white;
}
.icon--Social--red{
    display: flex;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}
@media (min-width: 769px) {
    .footer{
        height: 40vh;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer h2{
        color: white;
        margin-top: 60px;
        font-size: 1.25rem;
    }
}